Node-RED/Flow.json
[
    {
        "id": "96f292543715a881",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49379d5e1f024496",
        "type": "mqtt in",
        "z": "96f292543715a881",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7cca681ea656e84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "15ba2465095fd26a"
            ]
        ]
    },
    {
        "id": "533e0dbf897c35fb",
        "type": "debug",
        "z": "96f292543715a881",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 280,
        "wires": []
    },
    {
        "id": "bccdf37f670601a6",
        "type": "mysql",
        "z": "96f292543715a881",
        "mydb": "ebca966d1f2e022b",
        "name": "connection",
        "x": 1090,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "15ba2465095fd26a",
        "type": "function",
        "z": "96f292543715a881",
        "name": "function 1",
        "func": "let temperature = msg.payload.temperature;\nlet humidity = msg.payload.humidity;\nmsg.topic = `INSERT INTO Data (Temperatuur, humidity) VALUES (${temperature}, ${humidity})`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 420,
        "wires": [
            [
                "533e0dbf897c35fb",
                "bccdf37f670601a6",
                "dde6ee7174766d2f"
            ]
        ]
    },
    {
        "id": "dde6ee7174766d2f",
        "type": "http request",
        "z": "96f292543715a881",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://eowex3jwf5cq305.m.pipedream.net",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 540,
        "wires": [
            [
                "0ad91b81902fbe4c"
            ]
        ]
    },
    {
        "id": "0ad91b81902fbe4c",
        "type": "http response",
        "z": "96f292543715a881",
        "d": true,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1170,
        "y": 540,
        "wires": []
    },
    {
        "id": "f7cca681ea656e84",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ebca966d1f2e022b",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": "UTF8"
    }
]